
# create your own and put them here

SANDBOX_USERNAME1 = 'dragonfax_test1'
SANDBOX_PASSWORD1 = ''

SANDBOX_USERNAME2 = 'dragonfax_test2'
SANDBOX_PASSWORD2 = ''

SANDBOX_DEVELOPER_TOKEN = ''

SANDBOX_CONSUMER_KEY = ''
SANDBOX_CONSUMER_SECRET = ''